.first-row{
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  overflow: hidden;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  gap: 2%;
}

.first-row img{
  max-width: 50%;
  object-fit: contain;
}

.second-row{
  max-width: 100vw;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.second-row img{
  overflow: hidden;
  max-width: 100%;
}

.bottom-div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  }
